<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-screen w-full">
      <nav class="w-full h-[15%] flex justify-between items-center">
        <div class="flex items-center">
          <img src="/static/clientLogo.png" alt="logo" srcset="" />
          <h1 class="text-2xl font-semibold mx-2">
            SintaCare: PUP Medical Records Tracker
          </h1>
        </div>

        <div class="flex items-center">
          <a href="/" class="ml-4">Home</a>
          <a href="/records" class="ml-4" id="records">Records</a>

          <a href="/login" class="ml-20" alt="profile_logo" srcset="">
            <button class="bg-black text-white px-4 py-2 rounded">
              Sign In
            </button>
          </a>
          <a href="/register" class="mx-4" alt="profile_logo" srcset="">
            <button class="bg-white text-black px-4 py-2 rounded">
              Sign Up
            </button>
          </a>
        </div>
      </nav>

      <div class="w-full h-[85%] flex bg-blue-100" id="block">
        <div class="h-full w-1/2 flex items-center justify-center">
          <div class="w-3/4 h-3/4">
            <h1 class="w-3/4 text-7xl font-semibold">
              Your Health, Our Priority
            </h1>

            <h1 class="text-xl mt-8">
              We are dedicated to providing exceptional healthcare, ensuring
              that you receive the highest standard of care in a comfortable and
              welcoming environment.
            </h1>

            <span class="w-full flex mt-16">
              <img src="" alt="svg" />
              <h1>pupsintcare@gmail.com</h1>
            </span>
          </div>
        </div>
        <div class="h-full w-1/2 flex items-center">
          <a href="https://imgbb.com/"
            ><img
              src="https://i.ibb.co/bmFN8h6/Capture-removebg-preview.png"
              alt="Capture-removebg-preview"
              border="0"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
